table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 20%;
    margin-left: 900px; 
    margin-right: 0; 
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0; 
    border-bottom: 1px solid black; 
    width: 100%; 
    margin-bottom: 40px; 
}
  
h1 {
text-align: center;
flex: 1;
margin: 25px;
color: #ee2b7a;
}

div.container {
    width: 80%;
    margin: 40px auto;
}
  

button.mat-flat-button {
    background-color: rgb(0, 204, 255);
    color: white;
}

.mat-header-cell, .mat-cell {
color: white;
background-color: #ee2b7a;
}
  

.mat-header-row {
background-color: #ee2b7a;
}
